[user]
	name = Sinisa Kusic
	email = contact.sinisa@gmail.com
	signingkey = ~/.ssh/id_rsa.pub

[includeIf "gitdir:~/Projects/2e/"]
	path = ~/Projects/2e/.gitconfig

[init]
	defaultBranch = main

[core]
	pager = delta
	editor = nvim
	whitespace = trailing-space,space-before-tab
	excludesfile = /Users/ku5ic/.gitignore_global

[push]
	default = simple
	autoSetupRemote = true

[pull]
	rebase = true
	ff = only

[rebase]
	autoStash = true
	autoSquash = true

[merge]
	tool = nvimdiff
	conflictstyle = zdiff3

[mergetool]
	prompt = false
	keepBackup = false

[diff]
	tool = nvimdiff
	colorMoved = default

[rerere]
	enabled = true
	autoUpdate = true

[branch]
	sort = -committerdate

[tag]
	sort = -version:refname

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	side-by-side = false
	syntax-theme = Monokai Extended
	file-style = bold yellow ul
	hunk-header-style = file line-number syntax
	hunk-header-decoration-style = blue ul

[color]
	ui = auto
	interactive = true
	status = true
	branch = true
	diff = true

[commit]
	template = /Users/ku5ic/.gitmessage
	gpgsign = true

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
