[push]
  default = current
[user]
  name = Sinisa Kusic
  email = contact.sinisa@gmail.com
[core]
  editor = vim
  whitespace = trailing-space,space-before-tab
	excludesfile = /Users/kusic/.gitignore_global
[color]
  ui = auto
  interactive = true
  status = true
  branch = true
  diff = true
[commit]
	template = /Users/kusic/.gitmessage
